h2 {
    margin-top: 0;
}

button {
    background-color: rgb(185, 209, 119);
    margin: auto 0 0 auto;
    border: none;

    position: relative;
    top: 12px;
}

button:hover {
    background-color: rgb(211, 255, 129);
}

.form {
    display: grid;
    width: 500px;
    height: fit-content;
    grid-template-columns: 45% 10% 45%;
    justify-self: center;
    margin: 30px;
    row-gap: 30px;
}

.form-section {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.divider {
    background: white;
    height: 100%;
    width: 2px;
    align-self: center;
    justify-self: center;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item input {
    background: grey;
    border-style: none;
    border: 0;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}

.form-item input:hover {
    background-color: rgb(197, 197, 197);
}

.form-item input:focus {
    background-color: white;
}

.form-item input:focus-visible {
    background-color: white;
}

.error-message {
    background-color: rgb(141, 51, 51);
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 12px;
}
