#top-bar {
    display:flex;
    height: fit-content;
    width: 100%;
    background-color: brown;
    font-size: 18pt;
}

.top-bar-inner {
    display:flex;
    justify-content: space-between;
    height: 40px;
    padding: 4px 10px;
    width:100%;
}

.logout {
    color: #f3e3e3;
    margin-right: 4px;
}

.logout:hover {
    color: rgb(255, 246, 162);
}